<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>All Data</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="table-container">
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of allData; let ind=index">
        <td>{{ind + 1}}</td>
        <td>{{item.id}}</td>
        <td class="name-column">{{item.name}}</td>
        <td class="price-column">{{item.price}}</td>
      </tr>
    </tbody>
  </table>
  </div>
</ion-content>
